<div class="main_nav_heading">
  <div class="logo-details">
    <i class="bx bxl-c-plus-plus"></i>
    <span class="logo_name">Caushal Ghimire</span>
  </div>
  <i class="bx bx-menu"></i>
  <span class="text">Admin Panel </span>
</div>
